.fr-popup .fr-emoticon {
	font-size: 30px;
    width: 30px;
}

.fr-popup .fr-emoticon img {
	height: 25px;
}

span[data-param1*="GreenTeam"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKamorip.png);
    width: 25px;
    height: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="GreenTeam"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKamorip.png);
    width: 28px;
    height: 28px !important;
    padding-left: 28px;
    background-size: 28px 28px;
}