:root{
    --animated-size: 50px;
}
.fr-popup .fr-emoticon {
	font-size: 30px;
    width: 30px;
}

.fr-popup .fr-emoticon img {
	height: 25px;
}

span[data-param1*="JKanStyle"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKamorip.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="JKanStyle"],
#article-content-wrapper #article-content img[alt*="JKanStyle"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="JKanStyle"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKamorip.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1*="OptimizePrime"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKuku.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="OptimizePrime"],
#article-content-wrapper #article-content img[alt*="OptimizePrime"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="OptimizePrime"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKuku.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1*="StoneLightning"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSoiru.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="StoneLightning"],
#article-content-wrapper #article-content img[alt*="StoneLightning"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="StoneLightning"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSoiru.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1*="TheRinger"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicBan.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="TheRinger"],
#article-content-wrapper #article-content img[alt*="TheRinger"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="TheRinger"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicBan.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1*="RedCoat"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSun.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="RedCoat"],
#article-content-wrapper #article-content img[alt*="RedCoat"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="RedCoat"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSun.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1*="Kappa"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicZero.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="Kappa"],
#article-content-wrapper #article-content img[alt*="Kappa"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="Kappa"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicZero.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1*="BCWarrior"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicClap.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="BCWarrior"],
#article-content-wrapper #article-content img[alt*="BCWarrior"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="BCWarrior"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicClap.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);;
}

span[data-param1*="GingerPower"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicDance.gif);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="GingerPower"],
#article-content-wrapper #article-content img[alt*="GingerPower"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="GingerPower"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicDance.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);;
}

/* --------- to be removed -------- */
span[data-param1*="GreenTeam"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKamorip.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="GreenTeam"],
#article-content-wrapper #article-content img[alt*="GreenTeam"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="GreenTeam"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKamorip.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1*="RedTeam"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKuku.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="RedTeam"],
#article-content-wrapper #article-content img[alt*="RedTeam"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="RedTeam"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKuku.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1*="HappyJack"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSoiru.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="HappyJack"],
#article-content-wrapper #article-content img[alt*="HappyJack"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="HappyJack"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSoiru.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1*="AngryJack"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicBan.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="AngryJack"],
#article-content-wrapper #article-content img[alt*="AngryJack"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="AngryJack"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicBan.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1*="PurpleStar"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSun.png);
    width: 25px;
    padding-left: 25px;
    background-size: 25px 25px;
}

img[alt*="PurpleStar"],
#article-content-wrapper #article-content img[alt*="PurpleStar"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt*="PurpleStar"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSun.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}
/* --------- to be removed -------- */


