:root{
    --animated-size: 75px;
}
.fr-popup .fr-emoticon {
    font-size: 30px;
    width: 30px;
}

.fr-popup .fr-emoticon img {
    height: 28px !important;
}

.fr-popup.emoticons {
    height: 245px;
}

span[data-param1="\\:-?\\)"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKamorip.png);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\:-?\\)"],
#article-content-wrapper #article-content img[alt="\\:-?\\)"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\:-?\\)"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKamorip.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="\\:-?\\("] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKuku.png);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\:-?\\("],
#article-content-wrapper #article-content img[alt="\\:-?\\("],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\:-?\\("] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKuku.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1="\\:-?D"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSoiru.png);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\:-?D"],
#article-content-wrapper #article-content img[alt="\\:-?D"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\:-?D"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSoiru.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1="\\>\\;\\("] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicBan.png);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\>\\;\\("],
#article-content-wrapper #article-content img[alt="\\>\\;\\("],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\>\\;\\("] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicBan.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1="\\:-?[z|Z|\\|]"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSun.png);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\:-?[z|Z|\\|]"],
#article-content-wrapper #article-content img[alt="\\:-?[z|Z|\\|]"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\:-?[z|Z|\\|]"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicSun.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}


span[data-param1="[oO](_|\\.)[oO]"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicZero.png);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="[oO](_|\\.)[oO]"],
#article-content-wrapper #article-content img[alt="[oO](_|\\.)[oO]"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="[oO](_|\\.)[oO]"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicZero.png);
    width: 32px;
    height: 32px !important;
    padding-left: 32px;
    background-size: 32px 32px;
}

span[data-param1="B-?\\)"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicClap.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="B-?\\)"],
#article-content-wrapper #article-content img[alt="B-?\\)"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="B-?\\)"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicClap.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="\\:-?(o|O)"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicDance.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\:-?(o|O)"],
#article-content-wrapper #article-content img[alt="\\:-?(o|O)"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\:-?(o|O)"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicDance.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="\\<\\;3"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicHorde.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\<\\;3"],
#article-content-wrapper #article-content img[alt="\\<\\;3"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\<\\;3"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicHorde.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="\\:-?[\\/]"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicShrug.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\:-?[\\/]"],
#article-content-wrapper #article-content img[alt="\\:-?[\\/]"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\:-?[\\/]"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicShrug.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="\\;-?\\)"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicStress.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\;-?\\)"],
#article-content-wrapper #article-content img[alt="\\;-?\\)"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\;-?\\)"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicStress.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="\\;-?\\)"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKkyu.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\;-?\\)"],
#article-content-wrapper #article-content img[alt="\\;-?\\)"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\;-?\\)"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicKkyu.gif);
    width: var(--animated-size);
    height: var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="\\:-?(p|P)"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicTT.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\:-?(p|P)"],
#article-content-wrapper #article-content img[alt="\\:-?(p|P)"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\:-?(p|P)"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicTT.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="\\;-?(p|P)"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicScared.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="\\;-?(p|P)"],
#article-content-wrapper #article-content img[alt="\\;-?(p|P)"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="\\;-?(p|P)"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicScared.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="R-?\\)"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicAgumonAnimated.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="R-?\\)"],
#article-content-wrapper #article-content img[alt="R-?\\)"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="R-?\\)"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicAgumonAnimated.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="JKanStyle"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicBack.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="JKanStyle"],
#article-content-wrapper #article-content img[alt="JKanStyle"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="JKanStyle"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicBack.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="OptimizePrime"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicHoxy.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="OptimizePrime"],
#article-content-wrapper #article-content img[alt="OptimizePrime"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="OptimizePrime"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicHoxy.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="StoneLightning"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicMakzi.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="StoneLightning"],
#article-content-wrapper #article-content img[alt="StoneLightning"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="StoneLightning"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicMakzi.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

span[data-param1="TheRinger"] img {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicJoke.gif);
    width: 28px;
    padding-left: 28px;
    background-size: 28px 28px;
}

img[alt="TheRinger"],
#article-content-wrapper #article-content img[alt="TheRinger"],
#article-reply-area #reply-real-area .reply > .reply-content img[alt="TheRinger"] {
    background: url(https://sogether.github.io/tgd/images/custom_emotes/picnicJoke.gif);
    width: var(--animated-size);
    height:  var(--animated-size) !important;
    padding-left: var(--animated-size);
    background-size: var(--animated-size) var(--animated-size);
    border-radius: 10px;
}

